<div class="post">
  <div class="message textar-aa">
    <%= aa_adaptor message.template.aa, message.content %>
  </div>
  <div class="posted_at"><p>posted at <%=l message.created_at %></p></div>
</div>
