  <%- model_class = Message -%>
  <div class="span6">
    <div id="wrapper">
        <%= render partial: 'message',collection: @messages, spacer_template: "spacer" %>
    </div>
  </div>

<div class="span4">
  <div id="sidemenu"
    <h3>Post Message</h3>
    <%= form_for @message, remote: true, :html => { :class => 'form-vertical' } do |f| %>
      <div class="control-group">
        <div class="controls">
          <%= f.text_field :content,id: "new_message", :class => 'text_field span3' %>
        </div>
      </div>

        <%= f.submit 'Post', :class => 'btn btn-primary span3' %>
    <% end %>
  </div>
</div><!--/span-->
